<template>
  <q-page>
    <form class="justify-evenly">
      <div class="row q-ma-md">
        <div class="col q-gutter-sm q-pa-sm">
          <q-input
            v-model="ipAddress"
            label="IP Address"
            @keypress.prevent.enter="submitForm"
          />
        </div>
        <div class="col q-gutter-sm q-pa-sm">
          <q-input
            v-model="ipLabel"
            label="Label"
            @keypress.prevent.enter="submitForm"
          />
        </div>
      </div>
    </form>

    <div class="row q-pa-md">
      <q-list bordered separator class="col">
        <q-item clickable v-ripple @click="fetchLogs">
          <q-item-section>
            <q-item-label>View All</q-item-label>
          </q-item-section>
        </q-item>
        <q-item v-for="log in getLogs" :key="log.id">
          <q-item-section>
            <q-item-label>{{ log.body }}</q-item-label>
            <q-item-label caption>{{ log.created_at }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
  <StickyEditComponent />
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';
import { useIPAddressStore } from '../stores/ip-store';
import { useLogStore } from '../stores/log-store';
import StickyEditComponent from 'src/components/StickyEditComponent.vue';
import { useQuasar } from 'quasar';

const $q = useQuasar();
const ipAddressStore = useIPAddressStore();
const logStore = useLogStore();

const getLogs = computed(() => logStore.getLogs);

defineOptions({
  name: 'IndexPage',
});

const ipAddress = ref();
const ipLabel = ref();

const submitForm = () => {
  ipAddressStore
    .storeIpAddress({
      ip: ipAddress.value,
      label: ipLabel.value,
    })
    .then((res) => {
      res;
      $q.notify({
        message: 'IP Address has been created',
        color: 'green',
        position: 'top-right',
      });

      ipAddress.value = '';
      ipLabel.value = '';

      logStore.fetchLogs();
    })
    .catch((err) => {
      err;
      $q.notify({
        message: 'Invalid IP Address',
        color: 'red',
        position: 'top-right',
      });
    });
};

const fetchLogs = () => logStore.fetchLogs();

onMounted(() => {
  ipAddressStore.fetchIpAddresses();
  logStore.fetchLogs();
});
</script>
