<template>
  <q-page class="row items-center justify-evenly">
    <div class="col" style="max-width: 420px">
      <form @submit.prevent="submitForm">
        <div class="column">
          <h4 class="q-mb-sm">Login</h4>
          <h5 class="q-mt-sm">IP Management App</h5>
          <div class="col q-mb-md">
            <q-input outlined v-model="email" label="Email" type="email" />
          </div>
          <div class="col q-mb-md">
            <q-input
              outlined
              v-model="password"
              label="Password"
              type="password"
            />
          </div>
          <div class="col">
            <q-btn color="primary" class="col" label="Login" type="submits" />
          </div>
        </div>
      </form>
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useUserStore } from '../stores/user-store';
import { useRouter } from 'vue-router';
const router = useRouter();
const userStore = useUserStore();

const email = ref();
const password = ref();

const submitForm = () => {
  userStore.fetchUser({
    email: email.value,
    password: password.value,
  });
  setTimeout(function () {
    router.push({ path: '/' });
  }, 500);
};
</script>

<style scoped></style>
