<template>
  <router-view />
</template>

<script setup lang="ts">
import { onMounted } from 'vue';
import { useUserStore } from './stores/user-store';

const userStore = useUserStore();

onMounted(() => {
  userStore.initToken();
  userStore.initUser();
});

defineOptions({
  name: 'App',
});
</script>
