<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title> IP Management App </q-toolbar-title>

        <div>
          <q-btn flat round color="white" icon="logout" @click="logoutEvt" />
          Quasar v{{ $q.version }}
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> IP Addresses </q-item-label>
        <IPAddresses />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import IPAddresses from '../components/IPAddresses.vue';
import { useUserStore } from 'src/stores/user-store';
import { useRouter } from 'vue-router';

const router = useRouter();
const userStore = useUserStore();

defineOptions({
  name: 'MainLayout',
});

const logoutEvt = () => {
  userStore.logout();
  router.push({ name: 'login' });
};
</script>
