<template>
  <q-item
    clickable
    @click.prevent="() => fetchLogsByIp(i)"
    tag="a"
    target="_blank"
    v-for="(i, idx) in getIPAddress"
    :key="idx"
  >
    <q-item-section>
      <q-item-label>{{ i.ip }}</q-item-label>
      <q-item-label caption>{{ i.label }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useIPAddressStore } from '../stores/ip-store';
import { useLogStore } from '../stores/log-store';

const ipAddressStore = useIPAddressStore();
const logStore = useLogStore();

const getIPAddress = computed(() => ipAddressStore.getIpAddresses);

const fetchLogsByIp = (ip) => {
  logStore.fetchLogsById(ip.id);
  ipAddressStore.setIpAddress({
    id: ip.id,
    ip: ip.ip,
    label: ip.label,
  });
};

defineOptions({
  name: 'IPAddresses',
});
</script>
