<template>
  <q-page-sticky position="bottom-right" :offset="[42, 42]" v-show="vshow">
    <q-btn fab icon="edit" color="primary" @click="prompt" />
  </q-page-sticky>
</template>

<script setup lang="ts">
import { computed, ref, onBeforeUnmount } from 'vue';
import { useQuasar } from 'quasar';
import { useIPAddressStore } from '../stores/ip-store';
import { useLogStore } from '../stores/log-store';

const ipAddressStore = useIPAddressStore();
const logStore = useLogStore();
const newLabel = ref<string>('');

const getIPAddress = computed(() => ipAddressStore.getIpAddress);
const vshow = computed(() => (getIPAddress.value.ip != null ? true : false));

const $q = useQuasar();
let timer;

onBeforeUnmount(function () {
  if (timer !== void 0) {
    clearTimeout(timer);
    $q.loading.hide();
  }
});

const prompt = () => {
  $q.dialog({
    title: `Add a new label for ${getIPAddress.value.ip}`,
    prompt: {
      model: newLabel,
      isValid: (val) => val.length > 2, // << here is the magic
      type: 'text', // optional
    },
    cancel: true,
    persistent: true,
  })
    .onOk(async (data) => {
      $q.loading.show();

      data;
      await ipAddressStore.updateIp({
        id: getIPAddress.value.id,
        ip: getIPAddress.value.ip,
        label: data,
      });

      await logStore.fetchLogsById(getIPAddress.value.id);

      // hiding in 2s
      timer = setTimeout(() => {
        $q.loading.hide();
        timer = void 0;
      }, 1000);

      $q.notify({
        message: 'IP Address has been created',
        color: 'green',
        position: 'top-right',
      });

      newLabel.value = '';
    })
    .onCancel(() => {
      // console.log('>>>> Cancel')
    })
    .onDismiss(() => {
      // console.log('I am triggered on both OK and Cancel')
    });
};

defineOptions({
  name: 'StickyEditComponent',
});
</script>

<style scoped></style>
